.home h2 {
  font-size: 1.2em;
}

ul.feeds-cont li {

 font-size: 17px !important;
 line-height: 1.5em !important;
}


ul.feeds-cont li a {

 text-decoration: underline !important;
}

ul.toc {

  font-size: 17px !important;
}

ul.toc .active {
  background-color: #333 !important;
  border-color: #8f8f8f  !important;
}

main section.lnkbx ul li a {
  line-height: .8em !important;  /* not targetting properly, being overrideen by main line-height... need to look at again later */
}


.cra-contacts div.col-md-4 {

    margin-top: -8px !important;
}

.btn-login {

background-color: #26374a !important;
border: 1px solid #26374a !important;

/* background-color: #904114 !important; */
/* border: 1px solid #7D3912 !important; */

/*	background-color: #318000 !important; */
/*	border: 1px solid #455E82 !important; */
	font-weight: 600 !important;
	font-family: "Lato";
  font-size: 17px !important;
	padding-top: 7px;
	padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
	margin-top: 3px;

}

.btn-default {
  font-family: "Lato";
  font-size: 17px !important;
  color: #333;
  background-color: #ddd !important;
  border: 1px solid #26374a !important;
}


/* start custom breadcrumb  */


@media screen and (max-width: 737px) {
#wb-bc li:before {
		color: #333;
		content: "<"!important;
		font-size: 1.5em;
}

.gcweb-v2~#wb-bc ol {

  margin-top: 5px !important;
}

}
@media screen and (min-width: 737px) {
.no-break-breadcrumb {
	display: inline-block!important;
}


}

/* end breadcrumb */

@media screen and (max-width: 1200px) {

  .promo {
  	padding-left: 1em;

}

}


@media screen and (max-width: 760px) {

  .mobile-left {
    float: left !important;
  }

}
