@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext');




/* still working to clean up unnecessary code */


.learnmore, .admin {

	font-weight: bold !important;
	text-decoration: underline !important;
}

.admin {

	font-size: 18px !important;
}

ul.feeds-cont li a {
	font-weight: bold;
}
.mr-home {

	font-size: 17px !important;
	font-weight: 600 !important;
	padding-bottom: 6px ;
	font-family: 'Lato', sans-serif !important;

}


/* font size in li of breadcrumb */

.cust-breadcrumb {

	font-size: 16px !important;



}



/* removing padding that pushes content down a lot */



.breadcrumb {

/*	margin-top: 0px !important; */
}




.text-banner {

	color: white;
	margin-top: 8px;


}

.mini-h2s {
	font-size: 1.2em !important;
}
.text-background-1 {

		background-color: #26374a;
		padding-top: 20px !important;
	/*	text-shadow: 2px 2px 4px #111; */

		/* opacity: .95; */

}


.text-background-2 {

		background-color: #26374a;
		padding-bottom: 20px;
	/*	text-shadow: 2px 2px 4px #111; */
		/* opacity: .95; */
}



.edge-color {
    background-color: #f0f0f0;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 15px;

}

.homeborder {

	font-weight: 500 !important;
	font-family: 'Lato', sans-serif;
	border-bottom: 4px solid #af3c43;


}

.canadamenu {

	display: inline-block;
	width: 100%;
	max-height: 100px;
	/* border-bottom: 1px solid #38414d; */
	border-top: 3px solid #38414d;
		margin-top: 10px;
}

.homemenu {

	display: inline-block;
	width: 100%;
	max-height: 100px;
	/* border-bottom: 1px solid #38414d; */
	border-top: 1px solid #ddd;
	margin-top: 10px;
}


.img-banner {

	background-image: url("../../scenarioA/img/CRAHQexterior.jpg");
	background-color: #26374a;
  background-repeat: no-repeat;
  background-size:100% auto;
  width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;


}


section.lnkbx ul {

	padding-top: 15px;
	padding-bottom: 18px;
}





/*  tablet/mobile fonts customizations and scaling */

@media screen and (max-width: 1200px) {

	.init-box {

		padding: 15px;
		min-height: 155px;
		max-height: 185px;
		background-color: #f9f9f9 !important;
		border: 1px #ddd solid;

	}

	p, ul, li {


		font-size: 19px !important;
		line-height: 26px !important;

	}

	h1 {
			font-size: 34px !important;

		}

	h2 {
				font-size: 32px !important;

			}




	.ch5 {

				font-size: 21px !important;

							}

		.mr-home {

								font-size: 19px !important;

							}

			.breadcrumb {


			}


}

@media screen and (max-width: 800px) {

.btn-call-to-action {

	font-size: 19px !important;
}

}
